<div id="main">
  <div class="container">
    <div id="mail-confirm" fxLayout="column">
      <div
        id="mail-confirm-form-wrapper"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div
          id="mail-confirm-form"
          [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }"
        >
          <div class="logo">
            <mat-icon class="mat-accent s-96">done_outline</mat-icon>
          </div>

          <div class="title">Ativação</div>

          <div class="subtitle">
            <p>
              Sua conta foi ativada com sucesso.
            </p>
          </div>

          <div class="message">
            <a class="link" [routerLink]="'/auth/login'"
              >Volte e faça o login</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
