<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Mudar Password</span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row
      *ngIf="data.account | async as account"
      class="toolbar-bottom py-16"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <!-- TODO Pegar a url do banco -->
      <img
        src="assets/images/avatars/Velazquez.jpg"
        class="avatar contact-avatar huge m-0"
        [alt]="account?.lastName"
      />
      <div class="contact-name mt-8">
        {{ account?.firstName }} {{ account.lastName }}
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content class="p-24 pb-0 m-0" [perfectScrollbar]>
    <form [formGroup]="accountPasswordForm">
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Senha Atual</mat-label>
          <mat-icon matSuffix class="secondary-text">edit</mat-icon>
          <input
            name="currentPassword"
            formControlName="currentPassword"
            matInput
          />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nova Senha</mat-label>
          <mat-icon matSuffix class="secondary-text">edit</mat-icon>
          <input name="newPassword" formControlName="newPassword" matInput />
        </mat-form-field>
      </div>
    </form>
  </div>

  <div
    mat-dialog-actions
    class="m-0 p-16"
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <button
      mat-button
      class="mr-8"
      aria-label="Delete"
      matTooltip="Delete"
      [disabled]="accountPasswordForm.invalid"
      (click)="changePasswordHandler()"
    >
      Trocar
      <ng-container *ngIf="loading$ | async">
        <mat-icon>
          <mat-spinner color="primary" diameter="20"> </mat-spinner>
        </mat-icon>
      </ng-container>
    </button>
    <button
      mat-button
      class="save-button"
      (click)="matDialogRef.close()"
      aria-label="SAVE"
    >
      Cancelar
    </button>
  </div>
</div>
